<% content_for :title do %>Fresh Papaya - Home<% end %>
<% content_for :description do %>Fresh, juicy movie reviews<% end %>

<div class="title-header pop"><h1>Fresh Papaya</h1></div>

</br>
<p>Serving up delicious and fresh movie reviews! This site was built on Ruby on Rails as part of a learning assignment at Lighthouse Labs. To play around as an admin, log in with transient.tran (at gmail.com) with password 123456.</p>

<%= render 'search' %>

<hr>
<div class="row">
<% @movies.each do |movie| %>
  <%= render partial: "movie", locals: {movie: movie} %>
<% end %>
</div>
