<div class="icon-bar four-up">
  <a class="item" href="/">
    <%= image_tag "svgs/fi-home.svg" %>
    <label>Home</label>
  </a>
  <a class="item" href='/movies/new'>
    <%= image_tag "svgs/fi-heart.svg" %>
    <label>Submit</label>
  </a>
  <a class="item">
    <%= image_tag "svgs/fi-pencil.svg" %>
    <label>Reviews</label>
  </a>
  <a class="item" href='/session/new'>
    <%= image_tag "svgs/fi-star.svg" %>
    <label>Log In</label>
  </a>
</div>