<div class='papaya-left'>
  <%= image_tag('papaya-left.jpg', class: 'papaya-img') %>
</div>

<div class='papaya-right'>
  <%= image_tag('papaya-right.jpg', class: 'papaya-img-right') %>
</div>

<div class="title-header pop"><h1>Fresh Papaya</h1></div>